.panel {
    border: 2px solid #f3f3f3f3;
    border-radius: 32px;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.button {
    height: auto;
    border: 1px solid #f3f3f3f3;
    border-radius: 20px;
}

.element {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #f3f3f3f3;
    border-radius: 20px;
}

.box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}