.input {
    width: 50svw;
    padding: 10px;
    font-size: 16px;
    overflow: hidden;
    resize: none;
}

.printOutput {
    display: none;
    white-space: pre-wrap;
    font-size: 16px;
    padding: 10px;
}