#root {
  margin: 0;
  padding: 0;
}

.main {
  width: 100dvw;
  height: 100dvh;
  display: flex;
}

.left-panel {
  width: 75%;
  background-color: black;
  height: 100%;
}

.patch {
  padding: 0.5rem 0 0.5rem 0;
  width: 100%;
  background-color: darkslateblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.patch input {
  width: 80%;
  height: 1rem;
  border: 0;
  background-color: aliceblue;
}

.explorer {
  width: 100%;
  height: 100%;
}

.file {
  width: 60px;
  height: 80px;
  background-color: blueviolet;
  margin: 1rem;
}

.selected {
  width: 60px;
  height: 80px;
  background-color: blueviolet;
  margin: 1rem;
  border: 2px solid blue;
}

.right-panel {
  display: flex;
  padding: 1rem;
  flex-direction: column;
}

.property {
  height: 50%;
  width: 100%;
}

.actions {
  height: 50%;
  width: 100%;
}

